:root {
  --default-50: oklch(98.5% 0.002 247.839);
  --default-100: oklch(96.7% 0.003 264.542);
  --default-200: oklch(92.8% 0.006 264.531);
  --default-300: oklch(87.2% 0.01 258.338);
  --default-400: oklch(70.7% 0.022 261.325);
  --default-500: oklch(55.1% 0.027 264.364);
  --default-600: oklch(44.6% 0.03 256.802);
  --default-700: oklch(37.3% 0.034 259.733);
  --default-800: oklch(27.8% 0.033 256.848);
  --default-900: oklch(21% 0.034 264.665);
  --default-950: oklch(13% 0.028 261.692);
}

@media (prefers-color-scheme: light) {
  :root {
    --default: var(--default-500);
    --default-background: var(--default-50);
    --default-foreground: var(--default-950);
  }
}

.light, [data-theme="light"] {
  --default: var(--default-500);
  --default-background: var(--default-50);
  --default-foreground: var(--default-950);
}

@media (prefers-color-scheme: dark) {
  :root {
    --default: var(--default-500);
    --default-background: var(--default-950);
    --default-foreground: var(--default-50);
  }
}

.dark, [data-theme="dark"] {
  --default: var(--default-500);
  --default-background: var(--default-950);
  --default-foreground: var(--default-50);
}

@theme inline {
  --color-default-50: var(--default-50);
  --color-default-100: var(--default-100);
  --color-default-200: var(--default-200);
  --color-default-300: var(--default-300);
  --color-default-400: var(--default-400);
  --color-default-500: var(--default-500);
  --color-default-600: var(--default-600);
  --color-default-700: var(--default-700);
  --color-default-800: var(--default-800);
  --color-default-900: var(--default-900);
  --color-default-950: var(--default-950);

  /* Semantic */
  --color-default: var(--default);
  --color-default-background: var(--default-background);
  --color-default-foreground: var(--default-foreground);
}


