@import "./colors.css";
@import "./typography.css";

@custom-variant dark (&:where([data-theme="dark"], .dark *));

@theme inline {
  /* Default Scale */
  --color-default-50: var(--default-50);
  --color-default-100: var(--default-100);
  --color-default-200: var(--default-200);
  --color-default-300: var(--default-300);
  --color-default-400: var(--default-400);
  --color-default-500: var(--default-500);
  --color-default-600: var(--default-600);
  --color-default-700: var(--default-700);
  --color-default-800: var(--default-800);
  --color-default-900: var(--default-900);
  --color-default-950: var(--default-950);

  /* Default Semantic */
  --color-default: var(--default);
  --color-default-background: var(--default-background);
  --color-default-foreground: var(--default-foreground);

  /* Secondary Scale */
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  /* Secondary Semantic */
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Accent Scale */
  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);

  /* Accent Semantic */
  --color-accent: var(--accent);
  --color-accent-background: var(--accent-background);
  --color-accent-foreground: var(--accent-foreground);

  /* Primary Scale */
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  /* Primary Semantic */
  --color-primary: var(--primary);
  --color-primary-background: var(--primary-background);
  --color-primary-foreground: var(--primary-foreground);

  /* Typography - Font Families*/

  --font-mono: var(--font-family-mono);
  --font-sans: var(--font-family-sans);
  --font-serif: var(--font-family-serif);
  --font-body: var(--font-family-sans);
  --font-heading: var(--font-family-serif);

  /* Typography - Font Sizes */
  --text-xs: calc(var(--font-size-base) * var(--font-size-scale) * 0.75);
  --text-xs--line-height: calc(1.3333 * var(--font-line-height-scale));
  --text-xs--letter-spacing: calc(0.025em * var(--font-letter-spacing-scale));

  --text-sm: calc(var(--font-size-base) * var(--font-size-scale) * 0.875);
  --text-sm--line-height: calc(1.4286 * var(--font-line-height-scale));
  --text-sm--letter-spacing: calc(0em * var(--font-letter-spacing-scale));

  --text-base: calc(var(--font-size-base) * var(--font-size-scale));
  --text-base--line-height: calc(1.5 * var(--font-line-height-scale));
  --text-base--letter-spacing: calc(0em * var(--font-letter-spacing-scale));

  --text-md: calc(var(--font-size-base) * var(--font-size-scale) * 1.125);
  --text-md--line-height: calc(1.5556 * var(--font-line-height-scale));
  --text-md--letter-spacing: calc(-0.01em * var(--font-letter-spacing-scale));

  --text-lg: calc(var(--font-size-base) * var(--font-size-scale) * 1.25);
  --text-lg--line-height: calc(1.4 * var(--font-line-height-scale));
  --text-lg--letter-spacing: calc(-0.01em * var(--font-letter-spacing-scale));

  --text-xl: calc(var(--font-size-base) * var(--font-size-scale) * 1.5);
  --text-xl--line-height: calc(1.3333 * var(--font-line-height-scale));
  --text-xl--letter-spacing: calc(-0.015em * var(--font-letter-spacing-scale));

  --text-2xl: calc(var(--font-size-base) * var(--font-size-scale) * 1.875);
  --text-2xl--line-height: calc(1.2 * var(--font-line-height-scale));
  --text-2xl--letter-spacing: calc(-0.02em * var(--font-letter-spacing-scale));

  --text-3xl: calc(var(--font-size-base) * var(--font-size-scale) * 2.25);
  --text-3xl--line-height: calc(1.1111 * var(--font-line-height-scale));
  --text-3xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-4xl: calc(var(--font-size-base) * var(--font-size-scale) * 3);
  --text-4xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-4xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-5xl: calc(var(--font-size-base) * var(--font-size-scale) * 3.75);
  --text-5xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-5xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-6xl: calc(var(--font-size-base) * var(--font-size-scale) * 4.5);
  --text-6xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-6xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-7xl: calc(var(--font-size-base) * var(--font-size-scale) * 6);
  --text-7xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-7xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-8xl: calc(var(--font-size-base) * var(--font-size-scale) * 8);
  --text-8xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-8xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  --text-9xl: calc(var(--font-size-base) * var(--font-size-scale) * 9.5);
  --text-9xl--line-height: calc(1 * var(--font-line-height-scale));
  --text-9xl--letter-spacing: calc(-0.025em * var(--font-letter-spacing-scale));

  /* Border Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
