/* :root {
  --background: var(--ds-color-background);
  --foreground: var(--ds-color-foreground);
  --card: var(--ds-color-surface);
  --card-foreground: var(--ds-color-surface-foreground);
  --popover: var(--ds-color-surface);
  --popover-foreground: var(--ds-color-surface-foreground);
  --primary: var(--ds-color-primary);
  --primary-foreground: var(--ds-color-primary-foreground);
  --secondary: var(--ds-color-secondary);
  --secondary-foreground: var(--ds-color-secondary-foreground);
  --muted: var(--ds-color-muted);
  --muted-foreground: var(--ds-color-muted-foreground);
  --accent: var(--ds-color-accent);
  --accent-foreground: var(--ds-color-accent-foreground);
  --destructive: var(--ds-color-destructive);
  --destructive-foreground: var(--ds-color-destructive-foreground);
  --border: var(--ds-color-border);
  --input: var(--ds-color-input);
  --ring: var(--ds-color-ring);

  --chart-1: var(--accent-300);
  --chart-2: var(--accent-500);
  --chart-3: var(--accent-600);
  --chart-4: var(--default-700);
  --chart-5: var(--default-800);

  --sidebar: var(--ds-color-surface);
  --sidebar-foreground: var(--ds-color-surface-foreground);
  --sidebar-primary: var(--ds-color-primary);
  --sidebar-primary-foreground: var(--ds-color-primary-foreground);
  --sidebar-accent: var(--ds-color-accent);
  --sidebar-accent-foreground: var(--ds-color-accent-foreground);
  --sidebar-border: var(--ds-color-border);
  --sidebar-ring: var(--ds-color-ring);
}

.dark,
[data-theme="dark"] {
  --chart-1: var(--accent-300);
  --chart-2: var(--accent-500);
  --chart-3: var(--accent-600);
  --chart-4: var(--accent-800);
  --chart-5: var(--accent-900);
} */
