@import "@repo/ui-design-system/index.css";

:root {
    --background: var(--default-background);
    --foreground: var(--default-foreground);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: var(--primary-background);
    --secondary: var(--secondary-background);
    --secondary-foreground: var(--primary-background);
    --muted: var(--secondary-100);
    --muted-foreground: var(--default-500);
    --accent: var(--secondary-100);
    --accent-foreground: var(--secondary-500);
    --destructive: oklch(0.577 0.245 27.325);
    --border: var(--primary-200);
    --input: var(--primary-200);
    --ring: var(--primary-500);
    --chart-1: var(--accent-300);
    --chart-2: var(--accent-500);
    --chart-3: var(--accent-600);
    --chart-4: var(--default-700);
    --chart-5: var(--default-800);

    --sidebar: var(--secondary-50);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--secondary-200);
    --sidebar-ring: var(--accent-400);
}

.dark {
    --background: var(--default-background);
    --foreground: var(--default-foreground);
    --primary: var(--primary-foreground);
    --primary-foreground: var(--primary-background);
    --secondary: var(--primary-background);
    --secondary-foreground: var(--secondary-foreground);
    --card: var(--secondary-foreground);
    --card-foreground: var(--secondary);
    --popover: var(--secondary-foreground);
    --popover-foreground: var(--secondary);
    --muted: var(--default-800);
    --muted-foreground: var(--default-400);
    --accent: var(--accent-background);
    --accent-foreground: var(--secondary-foreground);
    --destructive: oklch(0.704 0.191 22.216);
    --border: (var(--default-50)/10);
    --input: (var(--default-50)/15);
    --ring: var(--accent-400);
    --chart-1: var(--accent-300);
    --chart-2: var(--accent-500);
    --chart-3: var(--accent-600);
    --chart-4: var(--accent-800);
    --chart-5: var(--accent-900);
    --sidebar: var(--secondary-900);
    --sidebar-foreground: var(--secondary-50);
    --sidebar-primary: var(--primary-500);
    --sidebar-primary-foreground: var(--secondary-foreground);
    --sidebar-accent: var(--accent-800);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--accent-500);

}
